<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
                integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
                crossorigin="anonymous"></script>
    <script src="/static/code.js"></script>

        <input type="text" id="text" class="initial">
        <button onclick="join()" class="initial">JOIN</button>
        <p id="error" class="initial"></p>


        <h1 id="username" class="my_textarea"></h1><br>
        <textarea id="textarea" class="my_textarea"></textarea><br>

        <select id="dropdown" class="my_textarea">
        </select><br>

        <input type="text" id="user_text" class="my_textarea">
        <button id="send_button" class="my_textarea" onclick="send()">SEND</button><br>
        <p id="error2" class="my_textarea"></p>
</body>
</html>